In [1]:
import json
import pandas as pd, numpy as np
from tqdm import tqdm
import string

In [6]:
buzzfeed_CB= json.loads((open("../Data/Raw/buzzfeed.json")).read())

In [7]:
buzzfeed_CB[0]

{'article_title': '23 Life Lessons Cosmo Kramer Taught Us',
 'clickbait': 1,
 'response_count': 280,
 'article_url': '/javiermoreno/ife-lessons-you-learned-from-cosmo-kramer',
 'author': {'url': '/javiermoreno', 'name': 'Javier Moreno'}}

In [9]:
clickhole_CB = json.loads((open(r"../Data/Raw/clickhole.json")).read())

In [10]:
clickhole_CB[0]

{'article_title': 'And What A Year It’s Been: Looking Back On The Best, Worst, And Weirdest Stories That Made 2014 An Incredible Year For The Internet',
 'clickbait': 1,
 'article_url': '/article/and-what-year-its-been-looking-back-best-worst-and-1605'}

In [12]:
dose_CB=json.loads((open(r"../Data/Raw/dose.json")).read())

In [13]:
nyt_NCB = json.loads((open(r"../Data/Raw/nytimes.json")).read())

In [14]:
dose_CB[0],nyt_NCB[0]

({'article_title': " This Artist Takes Kids' Drawings...But You'll Never Guess Why",
  'clickbait': 1,
  'article_url': 'http://www.dose.com/lists/16905/This-Artist-Takes-Kids-Drawings-But-You-ll-Never-Guess-Why'},
 {'article_title': "Nation's Smaller Jails Struggle To Cope With Surge in Inmates",
  'clickbait': 0,
  'topic_code': '12',
  'article_subject': 'Jails overwhelmed with hardened criminals',
  'date': '1-Jan-96',
  'article_id': '41246'})

In [16]:
other_CB_fp= open(r"../Data/Raw/clickbait.txt",'r')

In [17]:
other_CB= other_CB_fp.read().splitlines()

In [18]:
other_CB[0], len(other_CB)

('10 Celebs Killin The Elf On The Shelf Game', 5637)

In [20]:
other_NCB_fp= open(r"../Data/Raw/genuine.txt",'r')

In [21]:
other_NCB= other_NCB_fp.read().splitlines()

In [22]:
other_NCB[0],len(other_NCB)

('A simmering resentment', 6080)

In [26]:
pre_mergedData= pd.read_csv(r"../Data/final.csv")

In [27]:
pre_merged_titles= pre_mergedData['targetTitle'].tolist()
pre_merged_labels= [1 if x>=0.5 else 0 for x in pre_mergedData['truthMean']]

In [28]:
pre_merged_titles[0],pre_merged_labels[0], len(pre_merged_labels)

('‘Inexcusable’ failures in UK’s response to modern slavery leaving victims destitute while abusers go free, report warns',
 0,
 41256)

In [29]:
len(buzzfeed_CB)+len(clickhole_CB)+len(dose_CB)+len(nyt_NCB)+len(other_CB)+len(other_NCB)+len(pre_merged_labels)

59173

In [30]:
data= {'id':[], 'titles':[], 'clickbait':[]}

In [31]:
t=1;

In [32]:
#for buzzfeed click bait data
for x in buzzfeed_CB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x['article_title'])
    data['clickbait'].append(x['clickbait'])

In [33]:
#for clickHole click bait data
for x in clickhole_CB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x['article_title'])
    data['clickbait'].append(x['clickbait'])

In [34]:
#for dose click bait dataset
for x in dose_CB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x['article_title'])
    data['clickbait'].append(x['clickbait'])

In [35]:
#for New york times click bait data
for x in nyt_NCB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x['article_title'])
    data['clickbait'].append(x['clickbait'])

In [36]:
# for click bait data source from other sites
for x in other_CB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x)
    data['clickbait'].append(1)

In [37]:
# for non click bait data source from other sites
for x in other_NCB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x)
    data['clickbait'].append(0)

In [38]:
for i in range(len(pre_merged_labels)):
    data['id'].append(t)
    t+=1
    data['titles'].append(pre_merged_titles[i])
    data['clickbait'].append(pre_merged_labels[i])

In [39]:
data= pd.DataFrame(data)

In [40]:
#to shuffle data
data= data.sample(frac=1)

In [41]:
type(data['id'][0]), type(data['titles'][0]), type(data['clickbait'][0]), len(data['titles'])

(numpy.int64, str, numpy.int64, 59173)

In [42]:
data=data.dropna().reset_index()

In [43]:
data.to_csv('clickBait_Data.csv',index=False)

In [44]:
pd.read_csv('clickBait_Data.csv')

,index,id,titles,clickbait
0,27375,27376,Dolphins held in captivity escape from Japanes...,0
1,38706,38707,See Me Now: the show exposing the everyday liv...,0
2,2071,2072,The 17 Most Mind-Blowing Maps They Never Taug...,1
3,11962,11963,White House refusal to release Trump tax retur...,0
4,13521,13522,Heroism aboard the sinking Clytoneus | Letters,0
...,...,...,...,...
59167,44583,44584,"Vladimir Putin gets it : You pay them, you own...",0
59168,51320,51321,Look What This Artists Can Do Just By Making H...,1
59169,4537,4538,Find the Couple Who Weren't in Sydney,0
59170,22746,22747,Incarcerated Vets Finding Healing Through Shar...,1
59171,58963,58964,Donald Trump exposes The Illuminati MUST SEE!!...,1